@font-face {
    font-family: "Urbanist";
    src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}

:root {
    --light: #FFF;

    --primary-saturated: #CBEA7B;
    --primary-medium: #E5F5BD;
    --primary-light: #F6FBE9;
    --primary-pale: #FAFDF2;
    
    --secondary-dark: #1A3129;
    --secondary-medium: #234338;
    --secondary-light: #346454;
    
    --grey-dark: #4C4C4D;
    --grey-light: #98989A;

    --pad-lr: 5vw;
}

/* ======================== GLOBAL/SHARED STYLES ======================== */

html {
    font-family: "Urbanist", sans-serif;
    font-size: 10px;
    color: var(--grey-dark);
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--light);
    transition: color .3s ease;
}
a:hover {
    color: var(--primary-saturated);
}

ul {
    list-style: none;
}

body {
    background-color: var(--primary-pale);
    font-size: 1.8rem;
    line-height: 150%;
}

h1 {
    font-size: 5.8rem;
    line-height: 120%;
}
h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
}
h3, .subh3 {
    color: var(--secondary-dark);
    font-size: 3.4rem;
    font-weight: 600;
}
h1, h2, h3 {
    color: var(--secondary-dark);
    margin-bottom: 2rem;
}
h1, h2 {
    font-weight: 700;
}
h2, h3 {
    line-height: 150%;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid var(--primary-medium);
    background: var(--primary-light);
    cursor: pointer;

    img {
        width: 24px;
    }
}

nav ul {
    flex-wrap: wrap;
    gap: 1.5vw;

    a {
    padding: 10px;
    }
}

/*! ======================== CLASSES ======================== */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.grid {
    display: grid;

    &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    &.col-2 {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
}

.btn {
    color: var(--secondary-dark);
    background-color: var(--primary-saturated);
    padding: 1.4rem 2.4rem;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color .2s ease, color .2s ease;

    &.secondary {
        background-color: transparent;
        border: 1px solid var(--primary-saturated);
    }
    &:hover, &.secondary:hover, &.inactive:hover {
        background-color: var(--secondary-light);
        color: var(--light);
    }
}

.text-center {
    text-align: center;
}

.bg-container {
    background-color: var(--primary-light);
    border-radius: 12px;
    border: 1px solid var(--primary-medium);
    padding: 4%;
}

.margin-bottom {
    margin-bottom: 5vh;
}

/* ======================== HEADER ======================== */

header {
    background-color: var(--secondary-dark);
    color: var(--light);
    font-weight: 600;
    padding: 1.4rem var(--pad-lr) 2rem;

    nav {
        justify-content: space-between;
    
        ul {
        display: flex;
        }
        .burger-menu {
            display: none;
        }
    }
}

header .topbanner {
    background-color: var(--secondary-medium);
    border-radius: 6px;
    border: 1px solid #2C5446;
    padding: 1rem 0;
    margin-bottom: 4vh;
    position: relative;
    overflow: clip;

    img {
        position: absolute;
        height: 100px;
        top: -2rem;

        &:first-of-type {
            left: 0;
        }
        &:last-of-type {
            right: 0;
            transform: scaleX(-1);
        }
    }

    a::before {
        content: "";
        background-image: url(../img/icons/cricketball.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin: 0 .5rem -3px 0;
    }
    a::after {
        content: "";
        background-image: url(../img/icons/arrow_right.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin: 0 0 -3px .5rem;
    }
}

/* ======================== MAIN ======================== */

main section:not(.hero) {
    padding: 5vh var(--pad-lr);
}

main section:nth-of-type(2) {
    padding-top: 15vh;
}

main section:not(.hero) > article:first-of-type {
    margin: 0 auto 6vh;
    width: 70%;
}

/* - ======================== HERO ======================== */

main .hero {
    height: 90vh;
    gap: 3vw;

    article, > img {
        width: 50%;
    }
    > img {
        background-color: var(--primary-medium);
        background-image: url(../img/grid.png);
        overflow: clip;
        border-radius: 0 0 50px 0;
    }
    article {
        flex-direction: column;
        justify-content: center;
        gap: 7vh;
        padding-right: var(--pad-lr);
    }
    .subh3 {
        margin-bottom: 2rem;
            p {
            display: inline;
            border-bottom: 3px solid var(--primary-saturated);
            padding-bottom: 1rem;
            line-height: 200%;
        }
    }
}

main .hero .customers {
    align-items: center;
    gap: 1rem;
    font-weight: 600;

    .imgs {
        grid-template: 1fr / repeat(7, 1fr);
        border-radius: 58px;
        border: 1px solid var(--primary-saturated);
        padding: .8rem 1rem;
        background-color: var(--primary-pale);

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            &:first-of-type {
                grid-area: 1 / 1 / 1 / 4;
            }
            &:nth-of-type(2) {
                grid-area: 1 / 3 / 1 / 6;
            }
            &:last-of-type {
                grid-area: 1 / 5 / 1 / 8;
            }
        }
    }
    p {
        span {
            color: var(--secondary-light);
        }
    }
}

/* - ======================== FEATURES ======================== */

main .features {
    .title {
        margin-bottom: 1.5rem;
    }
    h3 {
        margin-bottom: 0;
    }
    .icon-container {
        justify-content: center;
        align-items: center;
        background-color: var(--primary-saturated);
        border-radius: 6px;
        height: 70px;
        width: 70px;
        padding: 14px;
        margin-right: 1.5rem;
    }
}

/* - ======================== BLOGS ======================== */

main .blogs {
    .blog-teaser {
        flex-direction: column;

        span {
            font-weight: 600;
            color: var(--secondary-dark);
        }
        & > p:last-of-type {
            margin-bottom: 4rem;
        } 
        .teaser-img {
            border-radius: 12px;
            height: 40vh;
            width: 100%;
        }
    }
}

main .blogs .bottom-info {
    background-color: var(--primary-pale);
    padding: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: auto;

    .author {
        gap: 1.5rem;

        > img {
            width: 60px;
            height: 60px;
            border-radius: 8px;
        }
        ul li:last-of-type {
            color: var(--grey-light);
        }
    }
    .actions {
        gap: 1rem;
        margin-left: auto;
    }
}

/* - ======================== DAILY CALORIES ======================== */

main .daily-calories {
    .calculator {
        padding: 6% 4%;
    }
    .col-2 {
        gap: 6vh 5vw;
        width: 100%;
    }

    form {
        flex-direction: column;
        align-items: center;
        gap: 5vh;

        input, select {
            accent-color: var(--primary-saturated);
            padding: 1rem 2rem;
            color: var(--grey-light);
            font-family: "Urbanist";
        }
        input:focus-visible, select:focus-visible {
            outline: none;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        input[type="submit"] {
            color: var(--secondary-dark);
            width: 30%;
            border: none;
            cursor: pointer;

            &:hover {
                color: var(--light);
            }
        }
        input[type="number"], select {
            border-radius: 10px;
            border: 1px solid var(--primary-medium);
            height: 50px;
            width: 100%;
        }
        fieldset {
            border: none;
            
            &:first-of-type label, &:last-of-type > label {
                display: block;
                font-weight: 600;
                margin-bottom: 1rem;
                color: var(--secondary-dark);
            }
            #gender {
                gap: 3vw;
            }
        } 
    }
}



table {
    margin: 0 auto;
    width: 70%;
    background-color: var(--light);
    border-radius: 10px;
    border: 1px solid var(--primary-saturated);
    text-align: left;

    th {
        border-bottom: 1px solid var(--primary-saturated);
        font-weight: normal;

        &:first-of-type {
            width: 60%;
        }
        &:not(:first-of-type) {
            width: 20%;
        }
    }
    th, td {
        padding: 1rem 3rem;
    }
} 

/* - ======================== PRICING ======================== */

main .pricing .btns-container {
    border-radius: 8px;
    border: 1px solid var(--primary-saturated);
    padding: 2rem 1rem;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 1rem;

    .btn.active {
        background-color: var(--secondary-light);
        color: var(--light);
    }
    .btn.secondary {
        border: none;
    }
}

main .pricing .plans {
    > div {
        flex-direction: column;
        justify-content: space-between;
    }
    .price {
        margin: 3rem 0;
    }
    .btn {
        display: block;
        text-align: center;
        padding: 2rem 0;
    }
}

/* ======================== FOOTER ======================== */

footer {
    padding: 5rem var(--pad-lr);
    background-color: var(--secondary-dark);
    color: var(--light);

    .bottom-nav {
        justify-content: space-between;
        font-weight: 600;
    }
    .back-to-top {
        padding: 14px;
        background-color: var(--secondary-medium);
        border-radius: 50%;
        margin-left: 2rem;
        height: 62px;
        width: 62px;
    }
    .credits {
        justify-content: space-between;
        border-radius: 8px;
        border: 1px solid var(--secondary-light);
        background: var(--secondary-medium);
        padding: 2rem;
    }
    .contacts {
        gap: 2rem;
        flex-wrap: wrap;

        div {
            border: 1px solid var(--secondary-light);
            padding: 14px;
            border-radius: 6px;
            gap: 1rem;
        }
    }
}

/*# ======================== MEDIA QUERIES ======================== */
/*! ============================TABLET ======================== */
@media screen and (max-width: 992px) {
    body {
        font-size: 1.6rem;
    }
    h1 {
        font-size: 5.8rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3, .subh3 {
        font-size: 2.8rem;
    }

    button {
        height: 48px;
        width: 48px;

        img {
            height: 20px;
            width: 20px;
        }
    }

    header {
        .topbanner {
            img {
                display: inline;
            }
        }
        nav {
            ul {
                display: none;
            }
            .burger-menu {
                display: inline-block;
                width: 34px;
                height: 34px;
            }
        }
    }

    main {
        .features {
            .icon-container {
                height: 54px;
                width: 54px;
            }
        }
    }

    footer {
        .bottom-nav {
            flex-wrap: wrap;
            gap: 3vh;

            nav {
                order: 1;
            }
        }
        .credits {
            flex-direction: column;
            gap: 3rem;
            width: 100%;

            .contacts div {
                width: 100%;
                justify-content: center;
            }
        }
    }
}

/*! ======================== SMARTPHONE ======================== */
@media screen and (max-width: 480px) {
    body {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 4.2rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3, .subh3 {
        font-size: 1.8rem;
    }

    .grid.col-2, .grid.col-3 {
        grid-template-columns: 1fr;
    }

    .logo {
        height: 30px;
    }

    header {
        padding-top: 4rem;

        .topbanner {
            font-weight: normal;

            img {
                display: none;
            }

            a::before {
                height: 15px;
                width: 15px;
            }
            a::after {
                height: 15px;
                width: 15px;
            }
        }
    }

    main section:not(.hero) > article:first-of-type {
        width: 100%;
    }
    main .hero {
        flex-direction: column;
        text-align: center;
        height: 100%;

        img, article {
            width: 100%;
        }
        img {
            border-radius: 0 0 30px 30px;
            height: 45vh;
        }
        article {
            padding: 0 var(--pad-lr);
        }
        .customers {
            flex-direction: column;
            order: -1;
            margin-top: -5rem;
        }
    }
    main .features {
        .icon-container {
            height: 48px;
            width: 48px;
            padding: 12px;

            img {
                height: 22px;
            }
        }
    }
    main .blogs .bottom-info {
        .author {                    
            > img {
                width: 40px;
                height: 40px;
                border-radius: 6px;
            }
        }
    }
    main .daily-calories {
        form {
            input[type="submit"] {
                width: 100%;
            }
            fieldset #gender {
                gap: 20vw;
            }
        }
        table {
            width: 100%;

            th, td {
                padding: 1rem;
            }
        }
    }

    footer {
        .back-to-top {
            height: 48px;
            width: 48px;
            padding: 12px;

            img {
                height: 24px;
                width: 24px;
            }
        }
    }
}